@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Phudu&family=Raleway&display=swap");

body {
  background-color: #d8c3a5;
  font-family: "Raleway";
  font-weight: 400;
  color: #8e8d8a;
  background-image: url("../img/background.png");
}

.header {
  width: 100%;
  font-family: "Phudu";
  font-size: 1.5rem;
  color: #eae7dc;
  border: 10px solid #e85a4f;
  background-color: #e98074;
  text-align: center;
  line-height: 200%;
  position: fixed;
  display: flex;
}

.header__link {
  border-right: 10px solid #e85a4f;
  flex: 1;
  display: inline-block;
}

.header__link:hover {
  background-color: #e85a4f;
}

.wrapper {
  padding-top: 55px;
  width: 75%;
  margin: 0 auto;
  border: 10px solid rgb(096, 083, 073);
  background-color: #eae7dc;
  position: static bottom;
}

.searchbox {
  padding: 25px;
  width: 85%;
  margin: 0 auto;
  background-color: #e98074;
  color: #8e342e;
  font-size: 1rem;
  border: 5px solid #e85a4f;
  display: flex;
}

.searchbox form {
  margin: 0 auto;
}

.searchbox legend {
  padding-bottom: 5px;
}

.searchbox__column {
  flex: 1;
  display: table-cell;
  padding-right: 40px;
  justify-content: space-between;
}

.searchbox__text {
  font-size: 0.75rem;
}

.button {
  background-color: #e85a4f;
}

.searchbox__header,
.carpage__heading,
.button {
  font-family: "Phudu";
  font-size: 1.25rem;
  font-weight: 700;
}

datalist {
  display: flex;
  text-align: center;
  justify-content: space-between;
  font-size: 0.5rem;
}

.section {
  padding-top: 50px;
  margin: 25px;
  column-count: 3;
  column-width: 20%;
}

.carpage {
  background-color: #e98074;
  border: 5px solid #e85a4f;
  margin-bottom: 25px;
  color: #8e342e;
}

.carpage img {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.carpage-wrap {
  padding: 5%;
  border: 2px solid #e85a4f;
}

.footer {
  width: 100%;
  font-family: "Phudu";
  font-size: 0.8rem;
  color: #eae7dc;
  border: 5px solid #e85a4f;
  background-color: #e98074;
  text-align: center;
  line-height: 110%;
}
